In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#import data
data=pd.read_csv(r'C:\Users\user\Desktop\GB Data Science\Predictive Modeling\Assignment 3\adult_Income_regression.csv')

In [3]:
data.head()

,Age,Work_class,Fnlwgt,Education,Education-num,Marital-status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native-country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
for i in data.columns:
    print (i)

Age
Work_class
Fnlwgt
Education
Education-num
Marital-status
Occupation
Relationship
Race
Sex
Capital-gain
Capital-loss
Hours-per-week
Native-country
Income

In [5]:
#Generate a new dataframe
data2=data[['Age','Education-num','Sex','Hours-per-week','Native-country','Income']]
data2.head()

   Age  Education-num      Sex  Hours-per-week  Native-country  Income
0   39             13     Male              40   United-States   <=50K
1   50             13     Male              13   United-States   <=50K
2   38              9     Male              40   United-States   <=50K
3   53              7     Male              40   United-States   <=50K
4   28             13   Female              40            Cuba   <=50K

In [6]:
#Investigate missing data
data2.isnull().sum()

Age               0
Education-num     0
Sex               0
Hours-per-week    0
Native-country    0
Income            0
dtype: int64

In [142]:
#Hence there is no missing data

In [8]:
#Convert the non-numeric features to numeric.

#Checking the Native country entries
data2['Native-country'].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [9]:
#Create North America category
data2.loc[((data2['Native-country']==' United-States') | (data2['Native-country']==' Cuba')| (data2['Native-country']==' Jamaica')| (data2['Native-country']==' Canada')| (data2['Native-country']==' Dominican-Republic')|(data2['Native-country']==' El-Salvador')|(data2['Native-country']==' Guatemala')|
(data2['Native-country']==' Haiti')| (data2['Native-country']==' Honduras' )| (data2['Native-country']==' Mexico') | (data2['Native-country']==' Nicaragua')|(data2['Native-country']==' Outlying-US(Guam-USVI-etc)')|(data2['Native-country']==' Puerto-Rico')|(data2['Native-country']==' Trinadad&Tobago')),"Country"] = "North America"

C:\Users\user\Anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\user\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [10]:
#Create Asia category
data2.loc[((data2['Native-country']==' Cambodia')| (data2['Native-country']==' China') | (data2['Native-country']==' Hong')|(data2['Native-country']==' India')| (data2['Native-country']==' Iran')| (data2['Native-country']==' Japan')|(data2['Native-country']==' Laos')|(data2['Native-country']==' Philippines')|(data2['Native-country']==' Taiwan')|(data2['Native-country']==' Thailand')|(data2['Native-country']==' Vietnam')),'Country']='Asia'

In [11]:
#Create South America category
data2.loc[((data2['Native-country']==' Columbia') | (data2['Native-country']==' Ecuador')| (data2['Native-country']==' Peru')),'Country']='South america'

In [12]:
#Create Europe category
data2.loc[((data2['Native-country']==' England') | (data2['Native-country']==' France')| (data2['Native-country']==' Germany')| (data2['Native-country']==' Greece')|(data2['Native-country']==' Holand-Netherlands') | (data2['Native-country']==' Hungary')| (data2['Native-country']==' Ireland') |(data2['Native-country']==' Italy')|(data2['Native-country']==' Poland')| (data2['Native-country']==' Portugal')|(data2['Native-country']==' Scotland') | (data2['Native-country']==' Yugoslavia')),'Country'] ='Europe'

In [13]:
#Create Other category
data2.loc[data2['Country'].isnull(),'Country']='Other'

In [15]:
#Check if output variale is binary
data2['Income'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [16]:
#Convert output varialbe (i.e. income class) into numerical 
data2['Income level']= data2['Income'].replace({" <=50K" :0 , " >50K":1})

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
#Convert Sex varialbe into numerical 
data2['Gender']= data2['Sex'].replace({" Male" :0 , " Female":1})

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [19]:
#Generate dummy variables for the new Country columns
Country = pd.get_dummies(data2['Country'],drop_first=True)
Country.head()

   Europe  North America  Other  South america
0       0              1      0              0
1       0              1      0              0
2       0              1      0              0
3       0              1      0              0
4       0              1      0              0

In [20]:
#Join dummies variables with the dataset
data3=pd.concat([data2,Country],axis=1)

In [22]:
#Checking dataset columns
data3.sample(5)

,Age,Education-num,Sex,Hours-per-week,Native-country,Income,Country,Income level,Gender,Europe,North America,Other,South america
19017,33,13,Male,20,United-States,<=50K,North America,0,0,0,1,0,0
7894,26,1,Male,40,Mexico,<=50K,North America,0,0,0,1,0,0
751,22,13,Male,20,United-States,<=50K,North America,0,0,0,1,0,0
26173,42,14,Male,40,United-States,>50K,North America,1,0,0,1,0,0
25289,33,9,Female,40,United-States,<=50K,North America,0,1,0,1,0,0

In [30]:
#Drop unnecessary columns
data3= data3.drop(columns=['Sex','Native-country','Income','Country'],axis=1)

KeyError: "['Sex' 'Native-country' 'Income' 'Country'] not found in axis"

In [31]:
#Checking data columns before Logistic Regression
data3.sample(5)

,Age,Education-num,Hours-per-week,Income level,Gender,Europe,North America,Other,South america
17573,44,10,40,1,0,0,1,0,0
15795,50,9,84,0,0,0,1,0,0
90,57,11,40,0,0,0,1,0,0
9219,21,9,55,0,1,0,1,0,0
4178,49,9,40,0,0,0,1,0,0

In [23]:
#Split the data into training and test
from sklearn.model_selection import train_test_split
x=data3[['Age','Education-num','Hours-per-week','Gender','Europe','North America','Other','South america']]
y=data3['Income level']

In [25]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=40)

In [32]:
#Import logistic regression from sklearn and fir the train data (label = income)
from sklearn.linear_model import LogisticRegression

In [33]:
model=LogisticRegression()
model.fit(x_train,y_train)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [34]:
#Create prediction using test data
y_test_pred=model.predict(x_test)

In [35]:
#Investigate the accuracy and confusion matrix.
from sklearn.metrics import accuracy_score

In [36]:
accuracy_score(y_test,y_test_pred)

0.8002866209438019

In [37]:
print ('Accuracy is ' + str(accuracy_score(y_test,y_test_pred)))

Accuracy is 0.8002866209438019

In [38]:
from sklearn.metrics import confusion_matrix

In [39]:
print (confusion_matrix(y_test, y_test_pred))

[[6919  478]
 [1473  899]]